@model QLY_HOCSINH.Models.GnSoDauBai

@{
    ViewData["Title"] = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Chi tiết sổ đầu bài</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenBai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenBai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XepLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XepLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lop.LopId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model?.GnId">Chỉnh sửa</a> |
    <a class="btn btn-primary" asp-action="Index">Quay lại</a>
</div>
