@model IEnumerable<QLY_HOCSINH.Models.GnSoDauBai>

@{
    ViewData["Title"] = "Ghi nhận đầu bài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenBai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XepLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenBai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XepLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop.LopId)
            </td>

                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GnId">Chỉnh sửa</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.GnId">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GnId">Xóa</a>
                </td>
        </tr>
}
    </tbody>
</table>
