@model IEnumerable<QLY_HOCSINH.Models.LopHoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách lớp học</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm lớp</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gv.GvId)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.LopId">Chỉnh sửa</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.LopId">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.LopId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
